# OS files
.DS_Store

# Python Backend
backend/venv/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/data/chroma/
backend/f1_cache

# Node Frontend
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local